# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
.Python
*.swp

# Env
.env
venv/
ENV/
env/
venv.bak/
venv/*

# Django
*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3
media/

# Static files
staticfiles/

# Unit test / coverage reports
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
*.hyp

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store
.AppleDouble
.LSOverride
