body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #004721;
    animation: backgroundCycle 15s ease-in-out infinite;
}

@keyframes backgroundCycle {
    0% {
        background: #004721;
    }
    25% {
        background: #004721;
    }
    50% {
        background: #000080;
    }
    75% {
        background: #000080;
    }
    100% {
        background: #004721;
    }
}

.container {
    background: #000;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    height: 90%;
    text-align: center;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
    color: #fff;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.form-control:focus {
    border-color: #004721;
    box-shadow: 0 0 5px rgba(0, 0, 128, 0.8);
}

.btn-primary {
    background: #004721;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
    animation: buttonColorChange 15s ease-in-out infinite;
}

@keyframes buttonColorChange {
    0% {
        background: #004721;
    }
    25% {
        background: #004721;
    }
    50% {
        background: #000080;
    }
    75% {
        background: #000080;
    }
    100% {
        background: #004721;
    }
}

.btn-primary:hover {
    background: #000080;
}

label {
    color: #333;
}

p {
    font-size: 1rem;
    margin-top: 15px;
    color: #fff;
    margin-bottom: 5px;
}

a {
    color: #004721;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    animation: linkColorChange 15s ease-in-out infinite;
}

@keyframes linkColorChange {
    0% {
        color: #004721;
    }
    25% {
        color: #004721;
    }
    50% {
        color: #000080;
    }
    75% {
        color: #000080;
    }
    100% {
        color: #004721;
    }
}

a:hover {
    color: #000080;
}
